[viewBag]
==
<!-- <footer>
    <div class="foot-top">
        <div class="container">
            <ul class="direct-link no-type">
                <li><a href="{{ url('contact-us') }}"><span>{{ 'Contact us'|_ }}</span></a></li>
            </ul>
        </div>
    </div>
    <div class="foot-btm">
        <div class="container">
            <p>
                <span>&copy; 2013-<script type="text/javascript">var date = new Date(); document.write(date.getFullYear());</script> CLOUD LLC. </span>
                <span>ALL RIGHTS RESERVED.</span>
                <span>Company rules. Powered by <a href="" target="_blank">Cloud Group</a></span>
            </p>
        </div>
    </div>
</footer> -->

{% content 'footer.htm' %}